.headingSkills {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: var(--text-color);
	margin-bottom: 30px;
}

.skillBlock {
	display: flex;
	justify-content: center;
}

.skillCoding {
	margin-right: 50px;
}

.skillCard {
	position: relative;
	padding: 25px;
	border: 3px solid var(--acent-color);
	border-radius: 15px;
	width: 600px;
	overflow: hidden;
	z-index: 1;
}


.skillCard::before {
	position: absolute;
	content: '';
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--bg-color);
	z-index: -1;
	transition: all 0.5s;
}

.skillCard:hover::before {
	width: 100%;
}

.skillCard:not(:last-child) {
	margin-bottom: 20px;
}

.skillCard h2 {
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	color: var(--text-color);
	margin-bottom: 20px;
}


.progressBg {
	position: relative;
	max-width: 440px;
	height: 40px;
	border: 2px solid var(--acent-color);
	border-radius: 5px;
	overflow: hidden;
}

@media (max-width: 1300px) {
	.skillBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.skillCoding {
		margin-right: 0px;
		margin-bottom: 50px;
	}
}

@media (max-width: 740px) {
	.skillCard {
		max-width: 400px;
	}
}

@media (max-width: 520px) {
	.skillCard {
		max-width: 300px;
	}
}

@media (max-width: 470px) {
	.skillCard {
		max-width: 270px;
	}

	.headingSkills {
		font-weight: 700;
		font-size: 26px;
		line-height: 39px;
		color: var(--text-color);
		margin-bottom: 30px;
	}

	.skillCard h2 {
		font-weight: 700;
		font-size: 22px;
		line-height: 32px;
		color: var(--text-color);
		margin-bottom: 12px;
	}


}
