@import url('../../index.css');

.textContainer {
	display: flex;
	justify-content: center;

}

.textStroke {
	font-size: 60px;
	fill: none;
	font-weight: 700;
	stroke: var(--text-color);
	stroke-width: 0.06rem;
	stroke-dasharray: 100%;
	stroke-dashoffset: 100%;
	animation: textStrokeAnim 4000ms linear both;
	animation-iteration-count: 1;

}

@keyframes textStrokeAnim {
	0% {
		stroke-dasharray: 100%;
		stroke-dashoffset: 100%;
		fill: #0000;

	}

	95% {
		stroke-dasharray: 0%;
		stroke-dashoffset: 99%;
		fill: #0000;
	}

	100% {
		stroke-dasharray: 0%;
		stroke-dashoffset: 0%;
		fill: var(--text-color);
	}
}



@media (max-width: 730px) {

	.textStroke {
		font-size: 56px;
	}
}

@media (max-width: 640px) {

	.textStroke {
		font-size: 52px;
	}
}

@media (max-width: 570px) {
	.textStroke {
		font-size: 48px;
	}
}

@media (max-width: 470px) {
	.textStroke {
		font-size: 42px;
	}
}


@media (max-width: 370px) {
	.textStroke {
		font-size: 40px;
	}
}
